body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  /* loader */

   /* html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  } */
  
  .loader-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* background: gray;
    opacity: 0.8; */
    z-index: 9999;
  }
  
  .loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .content {
    display: none; /* Initially hide the content */
    /* padding: 20px; */
  }
  
  /* loader */
  .sup-nav{
    background-color: white;
    color: black;
    height: 5vh auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

  }
  /* .logo-sup{
    padding-top: 15px;
  } */
  .sup-container{
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
  }

  .navbar {
    background-color:white;
    color: rgb(23, 22, 22);
    /* padding: 15px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .navbar .logo {
    font-size: 18px;
    /* font-weight: bold; */
  }

  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .navbar li {
    margin: 0 10px;
  }

  .navbar a {
    text-decoration: none;
    color: rgb(40, 39, 39);
    font-weight: bold;
  }

  .navbar a:hover {
    color: #ccc;
  }

  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: center;
    }

    .navbar ul {
      flex-direction: column;
    }

    .navbar li {
      margin: 5px 0;
    }
  }

  .logo{
    /* padding:0 0 0 100px; */
  }

  /* .p1{
padding-left: 55px;
    font-weight: bold;
  } */
  #img1{
    /* margin-top: 20px; */
  }
  .container{
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
  }
  .btag{
  
  }
  .country-select {
    width: 250px;
    padding: 10px;
    font-size: 16px;
  }

  .custom-dropdown {
    position: relative;
    display: inline-block;
  }
  
  .custom-dropdown select {
    appearance: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: url('') no-repeat right 10px center;
    background-size: 20px;
  }
  
  .flag-option {
    padding: 5px;
    display: flex;
    align-items: center;
    width: 250px;
  }
  
  .flag-option img {
    margin-right: 10px;
  }
  .country-label{
    right: 0;
    padding: 0px;
  }
  

  nav {
    /* background-color: #333; */
    /* background-color: rgb(115, 155, 247); */
    background-color: rgb(0, 166, 255);
    color: white;
    padding: 15px;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
  }
  nav li {
    display: inline;
    margin-right: 10px;
  }
  nav li a {
    color: white;
    text-decoration: none;
  }
  nav li a:hover {
    text-decoration: underline;
  }
  .search-container {
    float: right;
  }
  .search-container input[type="text"] {
    padding: 5px;
    margin-top: 5px;
    border: none;
    font-size: 16px;
    
  }
  .input-search{
    /* background-color: rgb(0, 140, 255); */
    background-color: rgb(0, 191, 255);
    height: 30px;
    border: none;
    border-style: none;
    color: white;
    /* z-index: 1; */
  }
  .sec-section{ 
    /* background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3D7ecynkgBmC6ZtTV13K-ZvE-Uz4_W5rb8v57jHP_SPxM6UU-0nZbCyhnBCFaZkTQyUY&usqp=CAU"); */
    /* height: 100%;
    width: 100%;

    display: flex;
    flex-wrap: wrap; */
  }
  .secNav{
    /* height: 50vh; */
    height: 100% ;
    width: 100%;
    /* background-color: red; */
    background: url("https://media.istockphoto.com/id/1294021851/photo/abstract-graphic-world-map-illustration-on-blue-background-big-data-and-networking-concept-3d.jpg?s=612x612&w=0&k=20&c=XTG7NLkT69VxJdCCXUmD-IIUuICEwzAlyI8bsU4Z_NI=")  no-repeat center center/cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
  }
#img-secNav{
  border-radius: 50%;
  margin-top: 20px;
  height: 100%;
  /* width: 50%; */
  border: 5px solid white;

  
}
.para{
  padding-top: 40px;

}
#heading{
  font-size: 50px;
}
#btn{
  background-color: rgb(4, 125, 223);
  height: 40px;
  width: 150px;
  border-radius: 15px;
  font-size: 18px;
  color: white;
}
#secNav-para{
  font-size: 20px;
}
.third-navbar{
  background-color: white;
  box-shadow: 1px 1px 1px rgb(200, 198, 198);
  color: black;
  padding: 20px;
  
 
}
.third-navbar ul li a{
  color: black;
}
.third-navbar li a b:hover{
  text-decoration: underline;
  color: rgb(80, 80, 244);
}

.container2{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-around;
}
.text2{
   padding: 40px;
}
hr{
  /* background-color: rgb(243, 192, 192); */
  border-top: 2px dotted rgb(106, 106, 109) !important;
  /* height: 3px; */
  width: 90%;
 }
 .contact-form {
  width: 25vw;
  /* margin: 0 auto; */
  max-width: 500px;
  padding: 20px;
  /* border: 1px solid black; */
  box-shadow: 0.5px 1px 2px 2px rgb(200, 198, 198);
  /* height: 30%; */

}
#sec-hr{
  border-top: 3px dotted rgb(19, 177, 235) !important;
  width: 100%;
 
}
.text3-heading{
  padding: 20px;
}
#sec-heading{
  color: #3498db;
  font-style: italic;
}
.contact-form::before{
  content: "";
  position: absolute;
  background: url("	http://sportspromotionfoundation.com/assets/home-page/texture.png")no-repeat center center/cover;
  left: 0;
  height:100%;
  width: 100%;
  z-index: -1;
  background-attachment: fixed;
}

.contact-form h2 {
  margin-bottom: 20px;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
}

.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.contact-form button {
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #2980b9;
}


/* Responsive styles */
@media (max-width: 768px) {
  .contact-form {
    width: 90%;
  }
}
.text3{
  padding: 0 40px;
}
/* new carousel  */
.carousel{
  height: 100%;
  width: 100%;
  background-color: rgb(237, 245, 245);
}
.container-4{
  display: flex;
  /* flex-wrap: wrap; */
  padding: 20px;
  justify-content: space-around;

}
.first-container-4{
  /* border: 1px solid black; */
background-color: #fff;
  box-shadow: 0.5px 1px 1px 2px rgb(137, 137, 137);
  height: 100%;

  /* padding-right: 50px */
  padding: 30px;
  margin: 30px;
}
.sec-container-4{
  /* border: 1px solid black; */
  background-color: #fff;
  box-shadow: 0.5px 1px 1px 2px rgb(137, 137, 137);
  height: 100%;

  padding: 30px;
  margin: 30px;
}
.third-container-4{
  background-color: #fff;
  /* border: 1px solid black; */
  box-shadow: 0.5px 1px 1px 2px rgb(137, 137, 137);
  height: 100%;
  padding: 30px;
  margin: 30px;
}
#container-4-img{
  /* padding: 20px; */
}
.carousel-slide{
  /* height: 100%; */
}
.second-carousel{
  height: 50%;
}
.carousel-caption{
/* top: 80vh; */
/* top: 80px; */
/* background-color: rgb(75, 68, 68); */
/* padding: 80px; */
/* left: 50%; */
}
/* #myCarousel{
  margin-top: 200px;
   top: 100%;
} */

#doc{
padding-left: 45%;
color: rgb(245, 96, 96);
font-style: italic;
}
#doc2{
  padding-left: 35%;
}
#doc2-b{
  color: #3498db;
}

.carousel2{
  height: 100%;
  width: 100%;
  background-color: white;
}
footer {
  background-color: #333;
  /* opacity: 0.9; */
  color: #fff;
  padding: 20px;
  height: 50vh;

  background-attachment: fixed;
}


.container4 {
  display: flex;
  justify-content: center;
  /* padding-top: 5%; */
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  padding: 10px;
}

.footer-section h2 {
  margin-bottom: 10px;
}







  


/* Carousel container */
.carousel {
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* overflow: hidden; */
  /* width: 100%; */
}

/* Carousel slides */
.carousel-slide {
  /* flex: 0 0 100%; */
   /* Ensure each slide takes full width */
}

/* Navigation buttons */
/* .carousel-button {
  cursor: pointer;
  padding: 10px;
  background-color: #333;
  color: white;
} */

/* Pagination dots */
/* .carousel-dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.carousel-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #aaa;
  margin: 0 5px;
}

.carousel-dot.active {
  background-color: #333;
} */



/* .carousel-container {
  display: flex;
  overflow: hidden;
}

.carousel-slide {
  min-width: 100%;
}

.carousel-slide img {
  width: 100%;
  height: auto;
} */


